<!doctype html>
<html lang="en">

<head>
    <title>Admin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS -->
    <link rel='stylesheet' href='/stylesheets/main.css' />
    <link rel='stylesheet' href='/stylesheets/themes.css' />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

    <!--JavaScript -->
    <script src="/javascripts/adminScript.js"></script>
    <%-include navbar.ejs%>
    <%- include popout.ejs%>
</head>

<body>
<div class="container-fluid">
    <h1>List of items: </h1>
    <table class="table table-striped">
    <thead>
        <tr>
        <th scope="col">itemid</th>
        <th scope="col">title</th>
        <th scope="col">price</th>
        <th scope="col">seller</th>
        <th scope="col">Delete</th>
        </tr>
    </thead>
    <tbody>
        <%for(var i=0; i<item.length; i++){%>
        <tr>
            <th scope="row"><a href='/p/<%=item[i].itemid%>'><%=item[i].itemid%></a></th>
            <td><%=item[i].title%></td>
            <td><%=item[i].price%></td>
            <td><%=item[i].seller%></td>
            <!-- <td><a href='/admin/delete/<%=item[i].itemid%>'>Del</a></td> -->
            <td><a class="delete-item" href="admin/delete/<%=item[i].itemid%>">del<a></td>
        </tr>
        <%}%>
    </tbody>
    
</table>
</div>

</body>

</html>