<!DOCTYPE html>
<html>

<head>
    <!-- Page Title -->
    <title>Messenger</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS for Styling -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    <link rel='stylesheet' href='stylesheets/chatpage.css' />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- Imported Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

    <!-- JavaScript for Interactivity -->
    <script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    
    <script>var ts="<%=new Date(latestTimestamp).toISOString()%>";</script>
    <script src="javascripts/chatpageScript.js"></script>
    <% include navbar.ejs %>
</head>

<body>
    <div class="chat-container">
        <div class="chat-window container">
            <div class="chat-list-window">
                <div class="chat-search">
                    <input placeholder="Search" />
                    <i class="fa fa-search"></i>
                </div>
                <div class="chat-list">
                    <%for (var i=0;i<users.length;i++) {%>
                    <div class="user" uidx="<%=i%>" uid="<%=users[i].userid%>" iid="<%=users[i].itemid%>">
                        <img class="uimg" src="https://placekitten.com/320/240" />
                        <div class="user-details">
                            <p class="username"><%=users[i].username%></p>
                            <p class="item-subtitle"><%=users[i].title%></p>
                        </div>
                    </div>
                    <%}%>
                </div>
            </div>
            <div class="chat-content">
                <div class="chat-title">
                    <img src="<%=users.length > 0 ? "https://placekitten.com/320/240" : "images/userimg.png"%>" />
                    <div class="user-details">
                        <p class="username"><%=users.length > 0 ? users[0].username : ""%></p>
                        <p class="item-subtitle"><%=users.length > 0 ? users[0].title : ""%></p>
                    </div>
                </div>
                <%if (users.length == 0) {%>
                <div uid="-1" iid="-1" id="cwnd-1" class="chatwindow">
                </div>
                <%} else {%>
                <%for (var i=0;i<users.length;i++) {%>
                <div uid="<%=users[i].userid%>" iid="<%=users[i].itemid%>" id="cwnd<%=i%>" class="chatwindow" <%= i==0 ? '' : 'hidden'%>>
                    <%for (var j=0;j<msgs.length;j++) {%>
                    <%if (users[i].rid == msgs[j].rid) {%>
                        <div class="msg <%=msgs[j].userid == user.id ? 'msg-yours' : 'msg-theirs'%>">
                            <%=msgs[j].msg%>
                        </div>
                    <%}}%>
                </div>
                <%}}%>
                <div class="chatbox">
                    <input placeholder="Enter text here..." />
                    <div class="chat-send-btn">
                        <span class="fa fa-angle-right"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>