<!DOCTYPE html>
<html>

<head>
    <!-- Page Title -->
    <title>Product</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS for Styling -->
    <link rel='stylesheet' href='/stylesheets/themes.css' />
    <link rel='stylesheet' href='/stylesheets/main.css' />
    <link rel='stylesheet' href='/stylesheets/ownproduct.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />

    <!-- Imported Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

    <!-- JavaScript for Interactivity -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script
        src="http://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="javascripts/ownproductScript.js"></script>

    <%- include navbar.ejs%>
    <%
    const getPlaceholderImg = () => {
        return ('https://randomuser.me/api/portraits/med/'
            + (Math.random()>0.5 ? 'men/' : 'women/')
            + (Math.floor(Math.random() * 80)+10)
            + '.jpg');
    }
    %>
</head>

<body>
    <div class="accept_offer_class">
        <span class="helper"></span>
        <div>   
            <div class="popupCloseButton">X</div>
            <p>Confirm Accept Offer?</p><br>
            <div class="confirm-offer" action="<%=productId%>/acceptoffer">
                <button type="submit" class="btn bid-btn primary-bg" href="#" role="button" style="flex:2">Yes</button>
            </div>&nbsp;
            <div class="cancel-offer">
                <button type="submit" class="btn bid-btn primary-bg" href="#" role="button" style="flex:2">Cancel</button>
            </div>
        </div>
    </div>

    <div class="hover_bkgr_fricc">
        <span class="helper"></span>
        <div>   
            <p>Successful Transaction</p>
            <div class="review-page">
                <a href="about:blank">
                    <button type="submit" class="btn bid-btn primary-bg" href="#" role="button" style="flex:2">Leave a Review Now</button>
                </a>    
            </div>
        </div>
    </div>

  <div class="column-xs-12 ml-4 mr-4">
    <nav>
      <ol class="breadcrumb-list">
        <li class="breadcrumb-item"><a href="/main">Home</a></li>
        <li class="breadcrumb-item"><a href="#"><%=data.catname%></a></li>
        <li class="breadcrumb-item active"><%=data.title%></li>
      </ol>
    </nav>
  </div>
  <div class="container">
    <div class="d-flex align-items-stretch">
      <div class="image-gallery">
        <aside class="thumbnails">
        <% for(var i=0; i<imgs.length; i++) { %>
          <a href="#" class="<%=i==0?'selected ':' '%>thumbnail" data-big="<%= imgs[i].imgurl %>">
            <div class="thumbnail-image" style="background-image: url( <%= imgs[i].imgurl %>)"></div>
          </a>
        <% } %>
        </aside>

        <main class="primary" style="background-image: url('<%= imgs[0].imgurl %>');"></main>
      </div>

      <% if (data.sold != 0) {%>
        <div class="text-container align-items-stretch">
        <div class="text-title"><%=data.title%></div>
        <div class="text-bid">Sold Price: $<%=data.price%></div>
        <div class="bidding-closed"> 
            <a href="about:blank">
            <button type="submit" class="btn bid-btn primary-bg" href="#" role="button">
                Bidding Closed. Leave a Review to <%=sold.buyername%>?
            </button>
            </a>
        </div>
        <div class="p-2 m-2">
            Sold by <a class="text-seller" href="/search/<%=data.accountid%>"><%=data.username%></a> 
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            Sold to <a class="text-seller" href="/search/<%=sold.buyer%>"><%=sold.buyername%></a>
        </div>
        <div>
            No. of bidders: <%=noOfbidders%>
        </div class="p-2 m-2">
        <div class="text-desc p-2 m-2">
            <b>Item description:</b> <br/>
            <%= data.description %>
        </div>
        </div>
        </div>
      <% } else {%>
      <div class="text-container align-items-stretch">
        <div class="text-title"><%=data.title%></div>
        <div class="text-bid">Current Highest Bid: $<%=data.price%></div>
        <div class="accept-offer"> 
            <button type="submit" class="btn bid-btn primary-bg" href="#" role="button">Accept Offer</button>
        </div>
        <div class="text-desc p-2 m-2">
            No. of bidders: <%=noOfbidders%>
        </div>
        <div class="text-desc p-2 m-2">
            <b>Item description:</b> <br/>
            <%= data.description %>
        </div>
       </div>
      </div>
      <% } %>

    <div class="d-flex align-items-stretch flex-column">
        <div class="main-title">
            <p>Reviews</p>
        </div>
        <% if (revs.length == 0) {%>
        <div class="reviews-none">
            <p>- There doesn't seem to be any reviews for this item yet.- </p>
        </div>
        <% } %>
        <% for(var i=0; i<revs.length; i++) { %>
        <div class="reviews">
            <div class="review-details">
            <img src="<%=getPlaceholderImg()%>">
            <div class="r-container">
                <p class="review-author"><%=revs[i].username%></p>
                <p class="review-date">3 days ago</p>
                <div class="review-rating">
                <span class="review-star review-star--active">&#9733;</span>
                <span class="review-star review-star--active">&#9733;</span>
                <span class="review-star review-star--active">&#9733;</span>
                <span class="review-star">&#9733;</span>
                <span class="review-star">&#9733;</span>
                </div>
            </div>
            </div>
            <div class="review-body">
                <p><%= revs[i].review%></p>
            </div>
        </div>
        <% } %>
    </div>
    </div>
    <div class="container">
        <div class="main-title">
            <p>You may also like</p>
        </div>
        <div id="products" class="product-container">
        <% for(var i=0; i<recs.length; i++) { %>
            <a class="item" href= <%= "../p/" + recs[i].itemid %>>
                <div class="item-top">
                    <div><img src= "<%= recs[i].imgurl %>" alt="<%= recs[i].title%>" /></div>
                    <div class="title"><%= recs[i].title %></div>
                </div>
                <div class="item-btm">
                    <div class="pricetag">
                        $<%= recs[i].price %>
                    </div>
                    <div class="view-btn primary-bg primary-bg-hover primary-border">
                        View Item
                    </div>
                </div>
            </a>
            <% } %>
        </div>
    </div>
  </div>
</body>