<!DOCTYPE html>
<html>

<head>
    <!-- Page Title -->
    <title>Search Results</title>

    <!-- CSS for Styling -->
    <link rel='stylesheet' href='/stylesheets/main.css'/>
    <link rel='stylesheet' href='/stylesheets/themes.css'/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

    <!-- JavaScript for Interactivity -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>
    <%- include ./navbar.ejs%>
    <%
    const getPlaceholderImg = () => {
        return ('https://randomuser.me/api/portraits/med/'
            + (Math.random()>0.5 ? 'men/' : 'women/')
            + (Math.floor(Math.random() * 80)+10)
            + '.jpg');
    }
    %>
</head>

<body>
<div class="container-fluid">
    <div>
        <h2>Users Registered</h2>
    </div>
    <div id="products" class="product-container">
        <% for(var i=0; i<data.length; i++) { %>
        <div class="item">
            
                
                <div class="item-top">
                    <img src= "<%=getPlaceholderImg()%>"/>
                    <div class="title">
                        <%= data[i].username %>
                    </div>
                    <div class="stars pull-right">
                        <div class="star-rating-container">
                            <div class="star-rating star-rating-on" style="width:<%=rating[i].mark*20%>%"></div>
                            <div class="star-rating star-rating-off"></div>
                        </div>
                    </div>
        
                    <div class="btn btn-success primary-bg primary-border primary-bg-hover">
                        <a href="../search/<%=data[i].accountid%>">See details</a>
                    </div>
                    
                </div>
            
        </div>
        <% } %>
    </div>
    <style>
        /* rating stars */
        .star-rating-container {
            font-family: icomoon;
            font-size: 32px;
            color: #ff5e00;
            position: relative;
            display: inline-block;
            opacity: 0.7;
            text-shadow: 1px 1px grey;
        }
        .star-rating:before {
                content: "★★★★★";
            }
        .star-rating-on {
            position: relative;
            z-index: 10;
            overflow: hidden;
            white-space: nowrap;
        }
        .star-rating-off {
            position: absolute;
            top: 0;
            left: 0;
            color: rgb(128, 122, 122);
        }

        .stars {
            position: relative;
            margin-inline-end: 4%;
            top: -10px;
        }
    </style>
<body>
</html>